/* common */
* {
    box-sizing: border-box;
}

body {
    padding: 15px;
    margin: 0;
    background-color: #f4f5f5;
}

body, textarea, input {
    font-size: 14px;
    color: #424242;
}

p,
h2,
h3{
    padding: 0;
    margin: 0;
}

h2 {
    background-color: #424242;
    color: white;
    padding: 5px 0 5px 10px;
}

h3 {
    margin-bottom: 10px;
}

.control hr {
    border: none;
    height: 0;
    margin: 15px -10px;
    border-bottom: 1px dashed #999
}

.paper,
.joint-paper,
.box {
    box-shadow: 0 2px 5px 0 rgba(220,220,220,.6),
    0 2px 10px 0 rgba(220,220,220,.2);
    background-color: #fff;
}

/* module */
#ad {
    font-size: 28px;
    position: fixed;
    right: 10px;
    bottom: 10px;
}

.paper,
.joint-paper {
    position: absolute;
    display: none;
    z-index: 1;
}

#controls {
    display: inline-block;
}

#common,
.control .content {
    padding: 10px;
}

#common {
    margin-bottom: 15px;
}


/* form */
input,
button,
textarea {
    outline: none;
}

textarea:disabled {
    background-color: #EBECEE;
    color: #424242;
}

#controls textarea {
    resize: none;
    width: 340px;
    height: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#controls .show-order {
    overflow: auto;
    margin-bottom: 0;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #bbb;
}

input:-moz-placeholder, textarea:-moz-placeholder {
    color:#bbb;
}

input::-moz-placeholder, textarea::-moz-placeholder {
    color:#bbb;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color:#bbb;
}

input[type="text"],
textarea {
    border: 1px solid #DADFE1;
    padding: 5px;
}

input[type="text"] {
    height: 24px;
}

input[type="text"]:focus,
textarea:focus {
    border-color: #f92672;
}

.bst input[type="text"] {
    width: 100px;
}

#bt input[type="text"] {
    width: 200px;
    margin-bottom: 10px;
}

input[type="button"],
input[type="text"] {
    margin-right: 10px;
    line-height: 24px;
}

input[type="button"] {
    border: none;
    background-color: orange;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

input[type="button"]:active {
    background-color: red;
}